<div class="container contin-custom">
    <div class="card"  >
      <div class="card-header card-header-custom" ><h1>Profile</h1></div>
       <div class="card-body" >
           <img src="assets/images/Q-icon.png"  class="image-custom" width=120 height=120 class="image-custom">
               <div class="continer-custom">
                 <p class="font-custom">name :{{name}}</p>
               </div>
               <div class="continer-custom">
                <p class="font-custom">email :{{email}}</p>
              </div>
              <div class="continer-custom">
                <p class="font-custom">age :{{age}}</p>
              </div>
       <button type="submit" class="btn-custom" (click)="edit_profile()" name="login" id="login">Edit</button>
         
       </div>
    </div>
  </div>
  